<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>break</display-name>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>ApplicationResources</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>logueo</servlet-name>
    <servlet-class>servlets.SvLogueo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logueo</servlet-name>
    <url-pattern>/logueo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cerrarSesion</servlet-name>
    <servlet-class>servlets.SvCerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cerrarSesion</servlet-name>
    <url-pattern>/cerrarsesion</url-pattern>
  </servlet-mapping>
</web-app>